.grid-container {
    box-sizing: border-box;
    float: left;
    background-color: lightgreen;
    border-style: solid;
    border-color: green;
    border-width: 5px;
    height: 100%;
    width: 70%;
    overflow: auto;
}

.search-input {
    /* position: absolute;
    left: 0px; */
    width: 200px;
    margin: 5px 5px;
} 

.search-button {
    /* position: absolute;
    left: 207px; */
    margin: 5px 5px;
}

.break {
    clear: both;
}