.search-input {
    position: absolute;
    left: 0px;
    width: 200px;
    margin-top: 4px;
} 

.search-button {
    position: absolute;
    left: 207px;
    margin-top: 4px;
}

.header-container {
    position: relative;
    padding: 10px 0px;
    text-align: center;
    font-size: 24px;
    width: 100%;
}

.options {
    position: absolute;
    right: 0;
}